/* @font-face {
  font-family: "Press Start 2P", cursive;
  src: url(https://fonts.googleapis.com/css?family=Press+Start+2p);
}

@font-face {
  font-family: "VT323", monospace;
  src: url(https://fonts.googleapis.com/css?family=VT323);
}

html {
  position: relative;
  min-height: 100%;
  margin: 0;
}

body {
  background-color: black;
}

#accueil {
  margin-top: 30px;
}

.text-center {
  width: 60%;
  text-align: center;
}

.notrelogo {
  display: flex;
  justify-content: center;
  position: relative;
  top: 50%;
}

.monprofil {
  display: flex;
  justify-content: space-around;
  color: white;
  max-width: 200px;
  text-align: center;
}

.navbar {
  margin-left: -30px;
  margin-right: -30px;
}

/* footer { 
  padding-top: 10px;
  background: #f8f9fa;
  width: 110%;
  text-align: center;
  display: flex;
  justify-content: center;
}*/
/*
.footeraccueil {
  margin-left: -30px;
  margin-right: -30px;
  padding-top: 10px;
  background: #f8f9fa;
  text-align: center;
  display: flex;
  justify-content: center;
}

.logowcs {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.flex-column {
  text-align: center;
}

.card {
  background: transparent;
  width: 95%;
  margin: 0 auto;
  margin-top: 30px;
}

.card-text {
  margin-top: -10%;
}

.no-gutter {
  width: 90%;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.haut {
  padding: 5px;
  max-width: 85%;
  margin: 0 auto;
  text-align: center;
  font-family: "Press Start 2P";
  background-color: transparent;
  color: white;
  font-size: 30px;
}

.bas {
  padding: 5px;
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
  font-family: "VT323";
  background-color: transparent;
  color: white;
  font-size: 24px;
}

ul {
  list-style: none;
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}

/* flip the pane when hovered */
.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  width: 320px;
  height: 480px;
  margin: auto;
}

/* flip speed goes here */
.flipper {
  transition: 0.9s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

@font-face {
  font-family: "Press Start 2P", cursive;
  src: url(https://fonts.googleapis.com/css?family=Press+Start+2p);
}

@font-face {
  font-family: "VT323", monospace;
  src: url(https://fonts.googleapis.com/css?family=VT323);
}

html {
  position: relative;
  min-height: 100%;
  margin: 0;
}

body {
  background-color: black;
}

#accueil {
  margin-top: 30px;
}

.text-center {
  width: 60%;
  text-align: center;
}

.notrelogo {
  display: flex;
  justify-content: center;
  position: relative;
  top: 50%;
}

.monprofil {
  display: flex;
  justify-content: space-around;
  color: white;
  max-width: 300px;
  text-align: center;
}

.card-img-top {
  max-width: 300px;
  max-height: 300px;
}

.navbar {
  margin-left: -30px;
  margin-right: -30px;
}

footer {
  margin-left: -30px;
  margin-right: -30px;
  padding-top: 10px;
  background: #f8f9fa;
  text-align: center;
  display: flex;
  justify-content: center;
}

.logowcs {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.flex-column {
  text-align: center;
}

.card {
  background: transparent;
  width: 95%;
  margin: 0 auto;
  margin-top: 30px;
}

.card-text {
  margin-top: -10%;
}

.no-gutter {
  width: 90%;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.haut {
  padding: 5px;
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
  font-family: "Press Start 2P";
  background-color: transparent;
  color: white;
  font-size: 30px;
}

.bas {
  padding: 5px;
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
  font-family: "VT323";
  background-color: transparent;
  color: white;
  font-size: 30px;
}

.nom {
  color: white;
}

.flex-column {
  text-align: center;
}

ul {
  list-style: none;
}
